In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
df = pd.read_csv('Fraud_check.csv')
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
df.isna().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [4]:
df.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

In [5]:
df['Risk'] = 'Good'
df.loc[df['Taxable.Income'] <= 30000, 'Risk'] = 'Risky'

In [6]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Risk
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good
...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,Good
596,YES,Divorced,69967,55369,2,YES,Good
597,NO,Divorced,47334,154058,0,YES,Good
598,YES,Married,98592,180083,17,NO,Good
599,NO,Divorced,96519,158137,16,NO,Good

In [7]:
df = df.drop(columns=["Taxable.Income"])

In [8]:
df

    Undergrad Marital.Status  City.Population  Work.Experience Urban  Risk
0          NO         Single            50047               10   YES  Good
1         YES       Divorced           134075               18   YES  Good
2          NO        Married           160205               30   YES  Good
3         YES         Single           193264               15   YES  Good
4          NO        Married            27533               28    NO  Good
..        ...            ...              ...              ...   ...   ...
595       YES       Divorced            39492                7   YES  Good
596       YES       Divorced            55369                2   YES  Good
597        NO       Divorced           154058                0   YES  Good
598       YES        Married           180083               17    NO  Good
599        NO       Divorced           158137               16    NO  Good

[600 rows x 6 columns]

In [9]:
df = pd.get_dummies(df, columns=["Undergrad", "Marital.Status", "Urban"], drop_first=True)

In [10]:
df.head()

,City.Population,Work.Experience,Risk,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES
0,50047,10,Good,0,0,1,1
1,134075,18,Good,1,0,0,1
2,160205,30,Good,0,1,0,1
3,193264,15,Good,1,0,1,1
4,27533,28,Good,0,1,0,0

In [11]:
X = df.drop(columns=["Risk"])
y = df["Risk"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
X_train

,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES
145,197422,2,0,0,0,1
9,155482,4,1,0,0,1
375,130935,2,0,1,0,0
523,42198,12,0,0,0,0
188,137569,10,0,0,0,0
...,...,...,...,...,...,...
71,105680,22,0,0,1,0
106,58535,20,1,0,1,1
270,130680,5,0,1,0,0
435,111774,4,0,0,0,1
102,91488,23,1,0,0,0

In [14]:
X_test

,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES
110,32450,19,0,0,1,1
419,138074,20,0,1,0,0
565,31064,28,0,0,0,0
77,118344,26,1,1,0,0
181,36116,20,0,0,0,0
...,...,...,...,...,...,...
399,74497,21,0,0,1,0
340,54437,21,1,1,0,1
148,197038,21,0,1,0,0
494,197045,13,0,0,1,1
439,48956,8,1,0,0,0

In [15]:
y_train

145     Good
9       Good
375     Good
523     Good
188    Risky
       ...
71      Good
106    Risky
270     Good
435     Good
102     Good
Name: Risk, Length: 480, dtype: object

In [16]:
y_test

110    Risky
419     Good
565     Good
77      Good
181    Risky
       ...
399     Good
340     Good
148     Good
494     Good
439    Risky
Name: Risk, Length: 120, dtype: object

In [17]:
dt = DecisionTreeClassifier(random_state=0)

In [18]:
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

In [19]:
y_pred

array(['Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good'],
      dtype=object)

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        Good       0.78      0.79      0.78        94
       Risky       0.20      0.19      0.20        26

    accuracy                           0.66       120
   macro avg       0.49      0.49      0.49       120
weighted avg       0.65      0.66      0.66       120

In [21]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
dt = DecisionTreeClassifier(random_state=0)
grid_dt = GridSearchCV(dt, param_grid, cv=5, scoring='accuracy')
grid_dt.fit(X_train, y_train)

print("Best parameters: ", grid_dt.best_params_)
print("Best score: ", grid_dt.best_score_)

Best parameters:  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 2, 'min_samples_split': 10}
Best score:  0.7770833333333333