Prepare a classification model using SVM for salary data

In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
SalaryData_Train = pd.read_csv("SalaryData_Train(1).csv")
SalaryData_Test = pd.read_csv("SalaryData_Test(1).csv")

In [3]:
SalaryData_Train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
SalaryData_Test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
SalaryData_Train.shape

(30161, 14)

In [6]:
SalaryData_Test.shape

(15060, 14)

In [7]:
SalaryData_Train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [8]:
SalaryData_Test.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [9]:
encoder = LabelEncoder()
scaler = StandardScaler()

In [10]:
X_train = SalaryData_Train.iloc[:, :-1].values
y_train = SalaryData_Train.iloc[:, -1].values

In [11]:
X_train

array([[39, ' State-gov', ' Bachelors', ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', ' Bachelors', ..., 0, 13,
        ' United-States'],
       [38, ' Private', ' HS-grad', ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', ' HS-grad', ..., 0, 40, ' United-States'],
       [22, ' Private', ' HS-grad', ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', ' HS-grad', ..., 0, 40, ' United-States']],
      dtype=object)

In [12]:
y_train

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [13]:
X_test = SalaryData_Test.iloc[:, :-1].values
y_test = SalaryData_Test.iloc[:, -1].values

In [14]:
X_test

array([[25, ' Private', ' 11th', ..., 0, 40, ' United-States'],
       [38, ' Private', ' HS-grad', ..., 0, 50, ' United-States'],
       [28, ' Local-gov', ' Assoc-acdm', ..., 0, 40, ' United-States'],
       ...,
       [38, ' Private', ' Bachelors', ..., 0, 50, ' United-States'],
       [44, ' Private', ' Bachelors', ..., 0, 40, ' United-States'],
       [35, ' Self-emp-inc', ' Bachelors', ..., 0, 60, ' United-States']],
      dtype=object)

In [15]:
y_test

array([' <=50K', ' <=50K', ' >50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [16]:
for i in range(X_train.shape[1]):
    if type(X_train[0][i]) == str:
        encoder.fit(X_train[:, i])
        X_train[:, i] = encoder.transform(X_train[:, i])
        X_test[:, i] = encoder.transform(X_test[:, i])

In [17]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
X_train

array([[ 0.04277892,  2.93594688, -0.34982703, ..., -0.21850808,
        -0.07773541,  0.26635842],
       [ 0.88026081,  1.88764517, -0.34982703, ..., -0.21850808,
        -2.33149486,  0.26635842],
       [-0.0333558 , -0.20895825,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842],
       ...,
       [ 1.48933854, -0.20895825,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842],
       [-1.25151126, -0.20895825,  0.1748048 , ..., -0.21850808,
        -1.74718685,  0.26635842],
       [ 1.03253024,  0.83934346,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842]])

In [19]:
X_test

array([[-1.02310711, -0.20895825, -2.44835434, ..., -0.21850808,
        -0.07773541,  0.26635842],
       [-0.0333558 , -0.20895825,  0.1748048 , ..., -0.21850808,
         0.75699032,  0.26635842],
       [-0.79470296, -1.25725996, -0.87445886, ..., -0.21850808,
        -0.07773541,  0.26635842],
       ...,
       [-0.0333558 , -0.20895825, -0.34982703, ..., -0.21850808,
         0.75699032,  0.26635842],
       [ 0.42345251, -0.20895825, -0.34982703, ..., -0.21850808,
        -0.07773541,  0.26635842],
       [-0.26175995,  0.83934346, -0.34982703, ..., -0.21850808,
         1.59171604,  0.26635842]])

In [20]:
classifier = SVC(kernel='linear', random_state=0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [21]:
y_pred = classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

In [22]:
y_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype=object)

In [23]:
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 80.88%